/* $ General */
* {
    font-family: 'Poppins';
}


/* $ Utilities */
img {
    width: 100%;
    max-height: 100%;
}


/* $ Responsive */

@media screen and (min-width: 768px) {
    main {
        height: 100vh;
    }
}